
.jumbotron {
    background-color: black;
    text-align: center;
    color: text-primary;
    
}
body {
    background-image: url("https://thumbs.dreamstime.com/z/binary-computer-code-optic-deformed-illustration-background-32763176.jpg");
     }

/**CARD STYLE**/     
.card {
    background-color: limegreen;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: black;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
    text-align: auto;
}
 
