/*BODY BG COLOR BLACK*/
body {
        background-color: rgb(65, 63, 63);
     }

/*STYLE FOR COUNTDOWN TIMER CLOCK*/
#countdown {
    float: right;
    background-color:  white;
    color: black;
    display: inline-flex;
    justify-content: center;
    margin-top: auto;
    margin-block-end: 20px;
    height: 35px;
    width: 150px;
}

#vhsBtn {
    margin-top: auto;
    margin-block-start: auto;
    float: left;

}

/**CARD STYLE WITH LIME GREEN BG COLOR AND BLACK TEXT; CONTENT CENTERED**/     
.card {
    content: justify;
    background-color: limegreen;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: black;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 800px;
    padding: 30px 40px;
    text-align: center;
}
 
